.env
node_modules/
.gitignore
package-lock.json
assets/database/store.json
package-lock.json
*.json
assets/database/store.json
assets/plugins/gClone.js
assets/plugins/eval.js
tmp.js
tmp.txt
tmp/
session/
assets/database.db
assets/plugins/eval.js
